matplotlib==3.6.2
# The ViT Inspect TB plugin:
git+https://stamatiad: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@github.com/stamatiad/vit_inspect.git@develop#egg=vit_inspect
