matplotlib==3.6.2
# The ViT Inspect TB plugin:
pip install git+https://stamatiad
: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@github.com/stamatiad/vit_inspect.git@develop#egg=vit_inspect
